[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]
bad-names-rgxs=^[_a-z][_a-z0-9]?$
max-statements=15
max-line-length=80

[REFACTORING]
max-nested-blocks=2

[DESIGN]
max-args=4
